* {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  box-sizing: border-box;
}
